In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'A':np.random.randint(1,10,20),
                   'B':np.random.randint(1,10,20)})

In [6]:
df['C'] = df.A + df.B

In [7]:
df

    A  B   C
0   2  1   3
1   8  3  11
2   7  4  11
3   6  4  10
4   3  3   6
5   5  6  11
6   3  4   7
7   5  4   9
8   3  6   9
9   6  1   7
10  6  2   8
11  5  6  11
12  3  4   7
13  7  4  11
14  1  6   7
15  2  9  11
16  2  1   3
17  6  4  10
18  5  4   9
19  2  9  11

In [10]:
df['D'] = pd.Series(0, index=df.index)

    A  B   C  D
0   2  1   3  0
1   8  3  11  0
2   7  4  11  0
3   6  4  10  0
4   3  3   6  0
5   5  6  11  0
6   3  4   7  0
7   5  4   9  0
8   3  6   9  0
9   6  1   7  0
10  6  2   8  0
11  5  6  11  0
12  3  4   7  0
13  7  4  11  0
14  1  6   7  0
15  2  9  11  0
16  2  1   3  0
17  6  4  10  0
18  5  4   9  0
19  2  9  11  0

In [14]:
def f(r):
    if r%2 == 0:
        return 'Even'
    else:
        return 'Odd'
    
df['E'] =df['C'].map(f)

In [16]:
df.drop(['E'],axis=1,inplace=True)

In [18]:
for col in df.columns:
    df[col+'_'] = df[col].map(f)

In [19]:
df

    A  B   C  D    A_    B_    C_    D_
0   2  1   3  0  Even   Odd   Odd  Even
1   8  3  11  0  Even   Odd   Odd  Even
2   7  4  11  0   Odd  Even   Odd  Even
3   6  4  10  0  Even  Even  Even  Even
4   3  3   6  0   Odd   Odd  Even  Even
5   5  6  11  0   Odd  Even   Odd  Even
6   3  4   7  0   Odd  Even   Odd  Even
7   5  4   9  0   Odd  Even   Odd  Even
8   3  6   9  0   Odd  Even   Odd  Even
9   6  1   7  0  Even   Odd   Odd  Even
10  6  2   8  0  Even  Even  Even  Even
11  5  6  11  0   Odd  Even   Odd  Even
12  3  4   7  0   Odd  Even   Odd  Even
13  7  4  11  0   Odd  Even   Odd  Even
14  1  6   7  0   Odd  Even   Odd  Even
15  2  9  11  0  Even   Odd   Odd  Even
16  2  1   3  0  Even   Odd   Odd  Even
17  6  4  10  0  Even  Even  Even  Even
18  5  4   9  0   Odd  Even   Odd  Even
19  2  9  11  0  Even   Odd   Odd  Even

In [23]:
df = pd.DataFrame({'A':np.random.randint(1,10,20),
                   'B':np.random.randint(1,10,20),
                   'C':np.random.randint(1,10,20)})

In [34]:
def f(r):
    if r['A'] > r['C']:
        return r['A']
    else:
        return r['C']

df['max'] = df.apply(f,axis=1)

In [37]:
df

    A  B  C  max
0   9  7  5    9
1   4  4  2    4
2   5  1  4    5
3   8  7  8    8
4   6  4  1    6
5   5  9  5    5
6   6  2  8    8
7   3  8  8    8
8   8  8  8    8
9   6  2  7    7
10  6  6  6    6
11  5  9  9    9
12  8  6  7    8
13  3  9  6    6
14  4  6  2    4
15  5  2  8    8
16  2  3  4    4
17  1  4  8    8
18  2  4  1    2
19  6  5  1    6

In [41]:
s1 = pd.Series([1,2,3,4,5,6])

In [56]:
s1.iloc[::2]

0    1
2    3
4    5
dtype: int64

In [55]:
def g(c):
    return c[::2].sum()

df.apply(g)

A      56
B      47
C      46
max    60
dtype: int64

In [58]:
df.applymap(lambda x:x+2)

     A   B   C  max
0   11   9   7   11
1    6   6   4    6
2    7   3   6    7
3   10   9  10   10
4    8   6   3    8
5    7  11   7    7
6    8   4  10   10
7    5  10  10   10
8   10  10  10   10
9    8   4   9    9
10   8   8   8    8
11   7  11  11   11
12  10   8   9   10
13   5  11   8    8
14   6   8   4    6
15   7   4  10   10
16   4   5   6    6
17   3   6  10   10
18   4   6   3    4
19   8   7   3    8

In [65]:
emp_data = pd.read_csv('Data/HR_comma_sep.csv.txt')
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [64]:
emp_data.groupby('salary').size()

salary
high      1237
low       7316
medium    6446
dtype: int64

In [67]:
emp_data.groupby('salary').satisfaction_level.median()

salary
high      0.66
low       0.63
medium    0.66
Name: satisfaction_level, dtype: float64

In [69]:
d = emp_data.groupby(('salary','sales')).size()

In [71]:
d.loc['high','IT']

83

In [72]:
df = pd.DataFrame({'A':np.random.randint(1,10,20),
                   'B':np.random.randint(1,10,20)})

In [81]:
df['A_roll'] = df.A.rolling(window=4,min_periods=1).sum()

In [82]:
df

    A  B  A_roll
0   4  3     4.0
1   1  3     5.0
2   8  9    13.0
3   5  7    18.0
4   4  4    18.0
5   8  4    25.0
6   5  7    22.0
7   5  5    22.0
8   7  6    25.0
9   4  4    21.0
10  6  7    22.0
11  5  6    22.0
12  7  2    22.0
13  8  1    26.0
14  7  2    27.0
15  1  7    23.0
16  5  8    21.0
17  1  9    14.0
18  5  5    12.0
19  1  5    12.0

In [88]:
churn = pd.read_csv('https://raw.githubusercontent.com/zekelabs/machine-learning-for-beginners/master/data/churn.csv.txt',
                   parse_dates=['last_trip_date'])

In [89]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
signup_date               50000 non-null object
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 4.2+ MB

In [103]:
churn[churn.last_trip_date > '2014-05']

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
5,10.56,5.0,3.5,1.00,Winterfell,2014-06-06,iPhone,2014-01-09,0.0,2,True,100.0
10,4.28,4.9,5.0,1.00,Winterfell,2014-05-30,iPhone,2014-01-13,0.0,1,True,100.0
13,3.04,5.0,4.0,1.38,King's Landing,2014-06-08,iPhone,2014-01-29,50.0,0,False,50.0
16,10.86,3.0,5.0,1.00,King's Landing,2014-06-28,Android,2014-01-11,0.0,1,True,50.0
17,2.38,4.8,3.9,1.00,King's Landing,2014-07-01,iPhone,2014-01-12,0.0,0,True,95.2
18,6.83,4.8,4.6,1.21,King's Landing,2014-06-24,iPhone,2014-01-28,30.8,6,True,80.8
19,12.08,5.0,5.0,1.17,King's Landing,2014-06-03,iPhone,2014-01-02,33.3,0,False,66.7
22,11.47,5.0,NaN,1.00,Winterfell,2014-05-02,iPhone,2014-01-24,0.0,0,False,100.0
23,7.74,5.0,5.0,1.00,King's Landing,2014-06-13,Android,2014-01-21,0.0,0,True,100.0
24,2.10,4.7,4.5,1.02,Astapor,2014-05-18,iPhone,2014-01-19,9.1,4,False,36.4
28,5.97,5.0,NaN,1.50,Winterfell,2014-06-08,iPhone,2014-01-19,100.0,0,False,0.0
31,11.86,5.0,4.9,1.00,Winterfell,2014-06-14,iPhone,2014-01-25,0.0,1,False,40.0
32,10.01,5.0,4.0,2.00,Winterfell,2014-06-10,iPhone,2014-01-05,100.0,1,False,100.0
36,2.43,4.5,NaN,1.00,Astapor,2014-06-25,iPhone,2014-01-21,0.0,2,False,50.0
38,4.69,4.8,4.9,1.04,King's Landing,2014-06-30,iPhone,2014-01-22,5.8,24,True,61.6
39,13.73,5.0,NaN,1.00,King's Landing,2014-06-23,iPhone,2014-01-09,0.0,1,True,100.0
41,3.80,5.0,4.0,1.88,Winterfell,2014-05-10,iPhone,2014-01-18,50.0,0,False,0.0
44,1.40,5.0,5.0,1.00,King's Landing,2014-06-18,iPhone,2014-01-22,0.0,2,True,66.7
49,10.54,4.7,4.4,1.00,Winterfell,2014-06-19,iPhone,2014-01-04,0.0,2,False,71.4
51,3.24,5.0,4.5,1.00,Winterfell,2014-05-02,Android,2014-01-02,0.0,4,False,52.4
52,4.98,5.0,5.0,1.00,Winterfell,2014-06-01,iPhone,2014-01-12,0.0,0,False,80.0
53,3.15,4.8,4.4,1.56,Astapor,2014-05-16,iPhone,2014-01-17,22.2,6,True,22.2
54,4.94,5.0,3.5,1.50,Winterfell,2014-06-15,iPhone,2014-01-10,50.0,2,False,50.0
62,4.81,4.8,4.5,1.06,King's Landing,2014-05-09,iPhone,2014-01-30,25.0,0,False,75.0
63,2.21,4.8,4.8,1.03,Astapor,2014-06-29,iPhone,2014-01-29,5.4,3,False,54.1
64,6.12,5.0,NaN,1.17,Astapor,2014-05-04,Android,2014-01-11,33.3,1,False,66.7
67,1.89,5.0,5.0,1.00,Winterfell,2014-06-13,Android,2014-01-18,0.0,0,False,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49942,11.44,4.8,3.0,1.00,Winterfell,2014-06-12,Android,2014-01-05,0.0,1,True,50.0
49943,5.32,4.7,5.0,1.06,King's Landing,2014-06-28,iPhone,2014-01-10,13.9,5,True,77.8
49945,6.77,5.0,5.0,1.00,Astapor,2014-05-22,iPhone,2014-01-22,0.0,2,True,100.0
49946,2.90,4.9,5.0,1.02,King's Landing,2014-06-14,iPhone,2014-01-21,5.0,3,False,90.0
49948,3.30,5.0,4.9,1.01,Astapor,2014-05-19,iPhone,2014-01-25,4.3,10,False,87.0
49952,3.61,4.8,5.0,1.03,Astapor,2014-06-24,iPhone,2014-01-25,12.5,3,False,100.0
49956,2.44,5.0,5.0,1.17,King's Landing,2014-05-14,iPhone,2014-01-21,33.3,0,False,66.7
49957,6.71,5.0,1.0,1.00,Winterfell,2014-06-27,Android,2014-01-02,0.0,0,False,100.0
49958,1.45,4.7,4.0,1.00,Astapor,2014-05-31,Android,2014-01-30,0.0,9,False,76.9
49959,12.48,5.0,4.0,1.00,Winterfell,2014-06-26,Android,2014-01-04,0.0,0,True,100.0
49962,8.13,5.0,NaN,1.00,Winterfell,2014-06-12,iPhone,2014-01-25,0.0,2,False,100.0
49963,8.67,4.8,4.7,1.06,Winterfell,2014-06-29,iPhone,2014-01-09,4.5,2,True,86.4
49964,4.80,4.6,4.5,1.04,Winterfell,2014-06-26,iPhone,2014-01-24,3.8,8,False,57.7
49965,3.49,5.0,4.4,1.00,Astapor,2014-05-19,iPhone,2014-01-22,0.0,4,True,88.9
49966,4.86,4.9,3.8,1.00,King's Landing,2014-06-21,iPhone,2014-01-31,0.0,4,True,60.0
49971,4.69,5.0,NaN,1.00,King's Landing,2014-06-14,iPhone,2014-01-12,0.0,0,True,100.0
49972,4.60,3.5,4.0,1.25,Winterfell,2014-06-29,iPhone,2014-01-12,50.0,1,False,0.0
49973,4.07,5.0,4.0,1.00,Astapor,2014-06-28,iPhone,2014-01-01,0.0,2,True,25.0
49975,2.18,4.8,3.9,1.03,Winterfell,2014-06-18,iPhone,2014-01-11,4.1,11,False,91.8
49976,2.39,4.0,2.0,1.00,King's Landing,2014-07-01,iPhone,2014-01-21,0.0,0,False,100.0
49978,6.02,5.0,4.5,1.00,Winterfell,2014-05-03,Android,2014-01-17,0.0,1,False,50.0
49986,0.52,5.0,4.0,1.00,Winterfell,2014-05-23,Android,2014-01-21,0.0,0,False,100.0
49987,4.24,4.0,4.6,1.00,Winterfell,2014-05-31,iPhone,2014-01-27,0.0,3,False,80.0
49988,2.53,5.0,4.5,1.00,King's Landing,2014-06-14,iPhone,2014-01-20,0.0,1,False,50.0
49990,3.38,5.0,4.7,1.08,Astapor,2014-05-18,iPhone,2014-01-13,33.3,1,True,33.3
49991,1.06,5.0,5.0,1.25,Winterfell,2014-06-29,iPhone,2014-01-08,100.0,0,False,0.0
49993,2.53,4.7,4.8,1.11,Astapor,2014-07-01,iPhone,2014-01-03,11.1,3,True,55.6
49994,2.25,4.5,4.6,1.44,Astapor,2014-05-31,iPhone,2014-01-03,37.5,1,False,25.0
49995,5.63,4.2,5.0,1.00,King's Landing,2014-06-05,iPhone,2014-01-25,0.0,0,False,100.0
49997,3.86,5.0,5.0,1.00,Winterfell,2014-05-22,Android,2014-01-31,0.0,0,True,100.0